body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font-color) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --main-bg-color: #f1f1f1;
  --done-todo: #d1e7dd;
  --font-color: #444444;

  --min-width-content: 700px;
}